html, body{ height: 100%; }

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

.app-container{
    height: 100%;
    overflow: auto;
}