<div>
    <main-nav title="mainNav.title" right-button="add" left-button="menu"></main-nav>

    <div class="app-content">

        <div class="dashboard">
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
            <section class="dashboard-module full-length">
                <div>
                    <h1>Stats</h1>
                    <span class="icon icon-bars"></span>
                </div>
            </section>
        </div>

    </div>
</div>