.main-nav{
    background: rgb(253, 152, 0);
    font-size: 2em;
    padding: .125em 0;
    border-bottom: none;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);

    &.navbar{
        min-height: 0;
    }

    .navbar-header{
        overflow: hidden;
        text-align: center;
        padding: 0 .3em;

        & > div{
            display: inline-block;
        }

        & > div:first-child{
            float: left;
        }
        & > div:last-child{
            float: right;
        }
    }
}